body {
    color: 
    background: 
    margin: 
}

header {
    border-bottom: 
    padding: 
    font-size: 
    color: 
}

section {
    background: rgb
    padding-bottom: 
    padding-top: 
    display: 
    justify-content: 
}

.chamada-texto {
    
}

body{
    color: #f86ab1;
    background-color: rgb(14, 4, 4)
}
